# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

# Qt6 support: Build with Qt6 or Qt5 by default
# Default: 0 - Disable, mean Qt5 build be builded by default
# Set to : 1 - Build with Qt6 layer.
QT6_SUPPORT = '1'

# Determine which Qt version will be supported
QT6_LAYER = "${@'True' if d.getVar('QT6_SUPPORT') == '1' else 'False'}"
QT5_LAYER = "${@'True' if d.getVar('QT6_SUPPORT') == '0' else 'False'}"

RZ_FEATURE_CODEC = "${@os.path.isdir("##OEROOT##/../meta-rz-features/meta-rz-codecs")}"

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-poky \
  ##OEROOT##/meta-yocto-bsp \
  ##OEROOT##/../meta-renesas \
  ##OEROOT##/../meta-openembedded/meta-oe \
  ##OEROOT##/../meta-openembedded/meta-python \
  ##OEROOT##/../meta-openembedded/meta-multimedia \
  ##OEROOT##/../meta-openembedded/meta-networking \
  ##OEROOT##/../meta-summit-radio/meta-summit-radio \
  ${@'##OEROOT##/../meta-qt5' if '${QT5_LAYER}' == 'True' else ''} \
  ${@'##OEROOT##/../meta-qt6' if '${QT6_LAYER}' == 'True' else ''} \
  ${@'##OEROOT##/../meta-rz-features/meta-rz-codecs' if '${RZ_FEATURE_CODEC}' == 'True' else ''} \
  "
